services:
    -
        class: Adrum\Inertia\PHPStan\InertiaExtension
        tags:
            - phpstan.extension

    -
        class: Adrum\Inertia\PHPStan\Rules\InertiaPageExistsRule
        arguments:
            - @PHPStan\File\FileHelper
        tags:
            - phpstan.rules.rule

    -
        class: Adrum\Inertia\PHPStan\Cache\InertiaPagesCacheMetaExtension
        tags:
            - phpstan.resultCacheMetaExtension
